/* --- Attempted Tab Implementation Through Callouts --- */
/* initial attribute setup */
div[data-callout="tabbed-box"],
div[data-callout="tabs"],
div[data-callout="tab-content"] { background: unset; border: unset; margin: unset; padding: unset; clear: both; overflow: hidden; }

div[data-callout="tabbed-box"].callout > .callout-title,
div[data-callout="tabs"].callout > .callout-title,
div[data-callout="tab-content"] > .callout-title { display: none; }

div[data-callout="tabbed-box"] > .callout-content,
div[data-callout="tabs"] > .callout-content,
div[data-callout="tab-content"] > .callout-content {
	border: none !important;
}

/* fix margin in Live Preview Edit Mode */
.markdown-source-view.mod-cm6 .callout:is(div[data-callout="tabbed-box"], div[data-callout="tabs"], div[data-callout="tab-content"]) {
  margin: 0px;
}

/* baseline label style */
div[data-callout="tabbed-box"] label {
  background: var(--background-primary);
  padding: 10px;
  top: 10px;
  margin-left: -1px;
  left: 0px; 
}

/* "default" and checked label style */
/*[type=radio]:is(:checked, [checked]) + label*/
[type=radio][id$="1"]:is(:checked, [checked]) ~ label:nth-of-type(1),
[type=radio][id$="2"]:is(:checked, [checked]) ~ label:nth-of-type(2),
[type=radio][id$="3"]:is(:checked, [checked]) ~ label:nth-of-type(3),
[type=radio][id$="4"]:is(:checked, [checked]) ~ label:nth-of-type(4),
[type=radio][id$="5"]:is(:checked, [checked]) ~ label:nth-of-type(5),
[type=radio][id$="6"]:is(:checked, [checked]) ~ label:nth-of-type(6),
label:first-of-type:not(input:is(:checked, [checked]) ~ label)  {
  background: var(--background-active-tab);
  z-index: 2;
}

/* hide radio buttons */
div[data-callout="tabbed-box"] > .callout-content > [type="radio"] {
  display: none;
}

div[data-callout="tabbed-box"] > .callout-content {
  --background-active-tab: #222229;
  padding: 0;
  padding-top: 5px;
}

div[data-callout="tabs"] {
  padding-top: 5px;
}

div[data-callout="tabs"] > .callout-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}

/* stack content areas in grid */
div[data-callout="tab-content"] {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1;
}

/* hide inactive content */
div[data-callout="tab-content"] {
  z-index: 1;
  display: none;
}

div[data-callout="tab-content"] > .callout-content {
  background-color: var(--background-active-tab);
}

div[data-callout="tab-content"] > .callout-content > p:nth-child(1),
div[data-callout="tab-content"] > .callout-content > table:nth-child(1) {
  margin-top: 10px;
}

/* ultra ugly list of label-to-active-tab relations */
input[type=radio]:last-of-type:not( input[type=radio]:checked ~ input[type=radio], :checked, [checked] ) ~ div[data-callout="tabs"] > .callout-content div[data-callout="tab-content"]:nth-of-type(1),
div[data-callout="tabbed-box"] > .callout-content > [type=radio][id$="1"]:is(:checked, [checked]) ~ div[data-callout="tabs"] > .callout-content div[data-callout="tab-content"]:nth-of-type(1) {
  z-index: 2;
  display: block;
}
div[data-callout="tabbed-box"] > .callout-content > [type=radio][id$="2"]:is(:checked, [checked]) ~ div[data-callout="tabs"] > .callout-content div[data-callout="tab-content"]:nth-of-type(2) {
  z-index: 2;
  display: block;
}
div[data-callout="tabbed-box"] > .callout-content > [type=radio][id$="3"]:is(:checked, [checked]) ~ div[data-callout="tabs"] > .callout-content div[data-callout="tab-content"]:nth-of-type(3) {
  z-index: 2;
  display: block;
}
div[data-callout="tabbed-box"] > .callout-content > [type=radio][id$="4"]:is(:checked, [checked]) ~ div[data-callout="tabs"] > .callout-content div[data-callout="tab-content"]:nth-of-type(4) {
  z-index: 2;
  display: block;
}
div[data-callout="tabbed-box"] > .callout-content > [type=radio][id$="5"]:is(:checked, [checked]) ~ div[data-callout="tabs"] > .callout-content div[data-callout="tab-content"]:nth-of-type(5) {
  z-index: 2;
  display: block;
}
div[data-callout="tabbed-box"] > .callout-content > [type=radio][id$="6"]:is(:checked, [checked]) ~ div[data-callout="tabs"] > .callout-content div[data-callout="tab-content"]:nth-of-type(6) {
  z-index: 2;
  display: block;
}