/* aside functionality as a custom callout */
.callout[data-callout-metadata*="aside"] {
    /* change these values as desired */
    --aside-width: 200px;
    --aside-offset: var(--size-4-4);

    /* leave anything that is here alone */
    position: absolute;
}
:is(.markdown-source-view .cm-callout, .el-div):has(> .callout[data-callout-metadata*="aside"]) {
    position: relative;
    overflow: visible;
    contain: none !important;
}
.callout[data-callout-metadata*="aside-l"] {
    left: calc( -1 * (var(--aside-width) + var(--aside-offset)));
    right: calc( 100% + var(--aside-offset));
}
.callout[data-callout-metadata*="aside-r"] {
    left: calc( 100% + var(--aside-offset));
    right: calc( -1 * (var(--aside-width) + var(--aside-offset)));
}
@media (hover: hover) {
    .markdown-source-view.mod-cm6 .cm-embed-block:has(> div > [data-callout-metadata*="aside"]):hover {
        overflow: visible;
    }
}

body {
    --editor-wrap-callout-width: 30%;
}
.cm-callout:has(> div > .callout[data-callout-metadata*="editor-wrap"]) {
    width: var(--editor-wrap-callout-width);
    float: right;
}
.cm-callout:has(> div > .callout[data-callout-metadata*="editor-wrap-l"]) {
    float: left;
}
.markdown-source-view.mod-cm6 .cm-content .cm-callout:has(> div > .callout[data-callout-metadata*="aside"]) {
    contain: none !important;
}
