/* 
  snippet_description: |-
    A quick-and-dirty snippet for Obsidian's Cards View in the Bases feature
    that allows for multiple images to cycle in sequence when hovered, and
    maintains the visibility of whichever one is active in the cycle on
    mouse-out.
  author: sailKite
  url: https://github.com/sailKiteV/Obsidian-Snippets-and-Demos/tree/main/MultiImageCards
  version: 0.1.2
  date: 2025-09-19
  recommended_obsidian: 1.9.10+
  recommended_installer: 1.9.10+
  dependencies:
*/

body {
    --card-time-per-image: 2s;
}

.bases-cards-cover {
    anchor-name: --card;
}

.bases-cards-property[data-property="formula.images"] {
    --bases-cards-line-height: 0px;
    position: static;
    height: 0px !important;

    & .value-list-element {
        --clock: -1;
        --total-images: round(up, calc(0.5 * sibling-count()));
        --image-index: round(down, calc(0.5 * sibling-index()));

        position: absolute;
        position-anchor: --card;
        inset: 0;
        display: block;
        width: anchor-size(100%);
        height: anchor-size(100%);
        opacity: round(up, var(--clock));
        animation: calc(var(--card-time-per-image) * var(--total-images)) linear calc(var(--card-time-per-image) * var(--image-index)) infinite normal paused forwards card-images;

        &:first-child {
            animation-fill-mode: both;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: unset;
        }
    }

    &:hover .value-list-element {
        animation-play-state: running;
    }

    & > .bases-cards-label {
        display: none;
    }

    & > .bases-cards-line {
        position: static;
    }

    /* disgusting attempt at sizing */
    .bases-cards-item:has(&) {
        --cards-file-title-height: 0px;
        height: calc(
            220.667px                                                                         /* card image height */
            + var(--cards-file-title-height)                                                  /* file label        */
            + (var(--card-rows) - 3) * (var(--bases-cards-line-height) + 2 * var(--size-4-2)) /* label and values  */
            + (var(--card-rows) - 3) * var(--size-4-2)                                        /* gaps              */
            + var(--size-2-1))                                                                /* block end padding */
            !important;                                                                       /* very important    */

        &:has(.mod-title) {
            --cards-file-title-height: (var(--bases-cards-line-height) + 2 * var(--size-4-2));
        }
    }
    .bases-cards-item:has(&:nth-child(2)) {--card-rows: 2;}
    .bases-cards-item:has(&:nth-child(3)) {--card-rows: 3;}
    .bases-cards-item:has(&:nth-child(4)) {--card-rows: 4;}
    .bases-cards-item:has(&:nth-child(5)) {--card-rows: 5;}
}

@property --clock {
    syntax: '<number>';
    inherits: true;
    initial-value: -1;
}

@keyframes card-images {
    from {
        --clock: 1;
    }
    to {
        --clock: calc(-1 * var(--total-images) + 1);
    }
}
